<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
    <div class="wrapper">
        <div id="title" class="fluid-container">
            <div id="screen"></div>
            <div id="temp-logo"></div>
            <h1>City Gardeneres</h1>
            <p>Fresh Vegetable plucked for you, from the garden in your city.</p>
        </div>
        <div id="about" class="fluid-container">
            <img class="bg" src="images/2.png" alt="">
            <div id="about-text" class="col-md-5 col-md-push-1 col-xs-8 col-xs-push-2">
                <h2>About our Initiative</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec iaculis enim. Maecenas eu augue pharetra, suscipit nisl nec, pellentesque velit. Morbi laoreet, nibh id lacinia condimentum, ex lectus iaculis dolor, a commodo tortor risus non nisi. Sed dictum molestie lorem, vel blandit lacus condimentum vel. Maecenas vitae porttitor diam, et elementum lectus.</p>
            </div>
            <img id="fruits" class="col-md-4 col-md-push-1 col-xs-8 col-xs-push-2" src="images/3.png" alt="fruits and veggies">
        </div>
    </div>

    </div>
    <div id="contact points" class="row">
        <div class="col-md-6 mb-4">
            <div>
                <div class="text-center">
                    <div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 300px">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d23269.52492371014!2d4.690949079061041!3d50.87601079881467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1spost.nl%20contact%20points%20leuven!5e0!3m2!1sen!2sbe!4v1617101916839!5m2!1sen!2sbe"  width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div>
                <div class="text-center">
                    <h2>Our current contact points</h2>
                    <p>On this map you can see all of our current contact points! We plan to expand this, are there non yet near you? Feel free to let us know to excellerate the progress!</p>
                </div>
            </div>
        </div>
    </div>
</body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

</html>