<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
    <div class="wrapper">
        <div id="title" class="fluid-container">
            <div id="screen"></div>
            <div id="temp-logo"></div>
            <h1>City Gardeneres</h1>
            <p>Fresh Vegetable plucked for you, from the garden in your city.</p>
        </div>
        <div id="about" class="fluid-container">
            <img class="bg" src="images/2.png" alt="">
            <div id="about-text" class="col-md-5 col-md-push-1 col-xs-8 col-xs-push-2">
                <h2>About our Initiative</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec iaculis enim. Maecenas eu augue pharetra, suscipit nisl nec, pellentesque velit. Morbi laoreet, nibh id lacinia condimentum, ex lectus iaculis dolor, a commodo tortor risus non nisi. Sed dictum molestie lorem, vel blandit lacus condimentum vel. Maecenas vitae porttitor diam, et elementum lectus.</p>
            </div>
            <img id="fruits" class="col-md-4 col-md-push-1 col-xs-8 col-xs-push-2" src="images/3.png" alt="fruits and veggies">
        </div>

        <div id="testimonials">
            <img class="bg" src="images/4.png" alt="">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <img class="testi-img" src="https://source.unsplash.com/200x200/?man" alt="">
                <h4>Crystal Buckner</h4>
                <p>Testimonials are short quotes from people who love your brand. It's a great way to convince customers to try your services.</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <img class="testi-img" src="https://source.unsplash.com/200x200/?women" alt="">
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <img class="testi-img" src="https://source.unsplash.com/201x201/?women" alt="">
            </div>
        </div>
    </div>
</body>
</html>