@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Global Properties */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
.bg {
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100vh;
}

/* Title section */
#title {
    height: 100vh;
    padding: 20vh 15vw;
    text-align: center;
    background: url(../images/1.png) no-repeat;
    background-size: cover;
}
#screen {
    position: absolute;
    height: 60vh;
    width: 70vw;
    background: white;
    opacity: 0.7;
    z-index: 0;
}
#title #temp-logo {
    position: relative;
    height: 12vh;
    width: 12vh;
    background-color: green;
    border-radius: 50%;
    margin: 7vh auto;
}
#title h1 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: green;
    font-size: 6vw;
    font-weight: 600;
}
#title p {
    position: relative;
    font-family: 'Lora', serif;
    color: green;
    font-size: 2.2vw;
}
@media only screen and (max-width: 1024px) {
    #title p  {
        margin-top: 6vh;
        font-size: 4vw;
    }
}

/* About section */
#about {
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#about #fruits {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#about #about-text {
    top: 50%;
    transform: translateY(-50%);    
    text-align: center;
}
#about #about-text h2 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: green;
    font-size: 3vw;
    font-weight: 600;
}
#about #about-text p {
    position: relative;
    font-family: 'Lora', serif;
    color: green;
    font-size: 1.5vw;
}
@media only screen and (max-width: 991px) {
    #about #about-text  {
        top: 30%;
        font-size: 4vw;
    }
    #about #fruits {
        top:40%;
    }
    #about #about-text h2 {
        font-size: 5vw;
    }
    #about #about-text p {
        font-size: 2.1vw;
    }
}
@media only screen and (max-width: 575px) {
    #about #about-text p {
        font-size: 3vw;
    }
}

#testimonials {
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#testimonials div {
    text-align: center;
}
#testimonials .testi-img {
    border-radius: 50%;
}
#testimonials h4 {
    position: relative;
    font-family: 'Lora', serif;
    color: green;
    font-size: 2vw;
    font-weight: 700;
}
#testimonials p {
    position: relative;
    font-family: 'Lora', serif;
    color: green;
    font-size: 1.5vw;
}